<div class="row">
  <div id="user_index" class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Your Allergy-Conscious Community</h1>
      </div>
      <div class="panel-body">
        <%= render "user_bricks" %>
      </div>
    </div> 
  </div>
</div>
