<div id="footer" class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Content provided on this site is for informational purposes only and should not be construed as medical or healthcare or safety advice. <%= link_to "Click here for aditional information.", disclaimer_path %></p>
      <p>Powered by <a href="http://rubyonrails.org/" target="_blank">Rails</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and education from <a href="http://flatironschool.com/" target="_blank">The Flatiron School</a>.</p>
      <p>&copy; 2016 <a href="http://agdavid.github.io">Antonio David</a>. All Rights Reserved.</p>      
    </div>
  </div>
</div>