<div id="about" class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>About</h1>
      </div>
      <div class="panel-body">
        <h4>About the Website:</h4>
        <p>AllergyFree Meals aims to help you feed yourself and your family delicious, nutritious meals while managing severe allergies.  Making healthy meals is just a little easier with the help of a community of people who are allergy-conscious, just like you.</p>
        <h4>About the Developer:</h4>
        <p>With a sibling managing celiac disease and nephew severely allergic to five of the "big eight" allergens, Antonio is keenly aware of the need to make inclusive, allergy-conscious meals. When he is not coding, he can be found in the kitchen, cooking up food that all can enjoy.</p>
      </div>
      <div id="slogan">
        <h4>Eat Smart. Eat Delicious. Eat AllergyFree.</h4>  
      </div>
      
    </div>
  </div>
</div>