#admin_index {
  .panel-heading {
    text-align: center;
    h1 {
      font-weight: bold;
      color: #c32740; 
    }
  }
}

#admin_form {
  .panel-heading {
    text-align: center;
    h1 {
      font-weight: bold;
      color: #c32740; 
    }
  }
}