#registration_form {
  .panel-heading {
    text-align: center;
    h2 {
      font-weight: bold;
      color: #c32740; 
    }
  }
}

#edit_registration_form {
  .panel-heading {
    text-align: center;
    h2 {
      font-weight: bold;
      color: #c32740; 
    }
  }
}

#login_form {
  .panel-heading {
    text-align: center;
    h2 {
      font-weight: bold;
      color: #c32740; 
    }
  }
}