// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#allergen_search {
  .panel-heading {
    text-align: center;
    background: #f6f7e7;
    h2 {
      font-weight: bold;
      color: #c32740; 
    }
  }
  .form-group {
    text-align: center;
    .allergen_wrapper {
      display: inline-block;
    }  
  }
  
}