// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#disclaimer {
  .panel-heading {
    text-align: center;
    h1 {
      font-weight: bold;
      color: #757575; 
    }
  }
}

#about {
  .panel-heading {
  text-align: center;
  h1 {
    font-weight:bold;
    color: #757575;
    }
  }
  .panel-body {
    h4 {
      font-weight: bold;
      color: #757575;
    }
  }
  #slogan {
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
}